.slider {
  .react-multi-carousel-item {
    display: flex;
    justify-content: center;
  }

  .react-multiple-carousel__arrow {
    top: 36%;
  }
  .react-multiple-carousel__arrow--right {
    right: calc(3% + 1px);
  }
  .react-multiple-carousel__arrow--left {
    left: calc(3% + 1px);
  }
}
