@import "../../../responsive.scss";

.mainSection {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;

  .pageHeader {
    width: 1170px;
    color: white;

    h2 {
      font-size: 30px;
    }

    h1 {
      font-size: 45px;
    }

    button {
      width: 210px;
      height: 50px;
      background-image: linear-gradient(
        to right,
        rgb(217, 113, 44),
        rgba(20, 206, 119, 0.756)
      );
      border: none;
      display: inline-block;
      padding: 13px;
      font-size: 15px;
      text-align: center;
      border-radius: 6px;
      position: relative;
      color: white;
      text-transform: uppercase;
    }
  }

  @include sm {
    flex-direction: column;
    padding-top: 50px;

    .pageHeader {
      width: 100%;

      h2 {
        font-size: 20px;
      }

      h1 {
        font-size: 28px;
        padding: 20px;
      }

      button {
        width: 160px;
        height: 40px;
        font-size: 13px;
      }
    }
  }
}
