@import "../../../../../responsive.scss";

.roomDetails {
  max-width: 250px;

  @include sm-md {
    h2 {
      font-size: 20px;
    }
    ul {
      > li {
        font-size: 17px;
      }
    }
  }
}
