.langContainer {
  position: relative;
  z-index: 10;

  .langIcon {
    cursor: pointer;

    img {
      width: 33px;
      height: 33px;
      background-color: white;
      border-radius: 5px;
      padding: 5px;
    }
  }

  .languageSwitch {
    position: absolute;
    top: 44px;
    right: 0;
    background: rgba(246, 216, 219, 0.9);
    color: black;
    height: 60px;
    width: 110px;
    display: none;
    font-size: 20px;
    padding: 5px 0 5px 15px;
    cursor: pointer;
    text-align: left;
    border-radius: 5px;

    &.active {
      display: block;
    }
  }
}
