.servicesSection {
  text-align: center;

  .servicesTitle {
    color: #026088;
    font-size: 40px;
  }

  .topSection {
    display: flex;
    justify-content: center;
    padding: 50px;
  }

  .bottomSection {
    display: flex;
    justify-content: center;
    padding: 50px;
  }
}
