@import "../../../responsive.scss";

.servicesSection {
  text-align: center;

  .servicesTitle {
    color: #089955c1;
    font-size: 40px;
  }

  .topSection {
    display: flex;
    justify-content: center;
    padding: 50px;
    gap: 40px;

    @include sm {
      flex-direction: column;
    }
  }

  .bottomSection {
    display: flex;
    justify-content: center;
    padding: 50px;
    gap: 40px;

    @include sm {
      flex-direction: column;
    }
  }
}
