@import "../../responsive.scss";

.navbar {
  position: fixed;
  display: flex;
  width: 100%;
  padding: 20px;
  align-items: center;
  transition: all 0.3s;
  z-index: 1001;
  justify-content: space-around;

  @include sm {
    .langSelector {
      display: none;
    }
  }

  &.active {
    background-color: rgb(20, 9, 0);
    height: 69px;
    padding: 5px;

    @include sm {
      .navRight {
        .menuIcon {
          display: inline;
        }
      }
    }

    img {
      width: 160px;
    }

    .navLinks {
      a {
        &:hover {
          color: rgb(208, 116, 11);
        }
      }
    }
  }

  img {
    left: 0;
    width: 300px;
    transition: all 0.3s;
  }

  .navRight {
    display: flex;
    align-items: center;

    .navLinks {
      position: static;
      right: 0;
      text-decoration: none;
      margin: 0px 350px;
      font-weight: 600;
      font-size: 25px;

      @include sm {
        display: none;
      }

      a {
        right: 0;
        text-decoration: none;
        margin: 200px 10px;
        padding: 20px 20px;
        color: rgb(251, 237, 237);

        &:hover {
          scale: 1.05;
          background-color: black;
          border-radius: 10px;
        }
      }
    }

    .menuIcon {
      display: none;
      z-index: 9999;

      img {
        width: 39px;
        height: 39px;
        cursor: pointer;
      }

      @include sm {
        display: none;
      }
    }
    .menu {
      position: absolute; //🧡
      top: 79px;
      width: 70%;
      right: -70%; //adjust according to the "width"
      background-color: black;
      color: white;
      height: 100vh;
      transition: all 0.4s ease;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 75px;
      font-size: 25px;
      gap: 70px;

      &.active {
        right: 0;
      }

      @include sm {
        .langContainer {
          .languageSwitch {
            left: 50%;
            transform: translateX(-50%);
          }
        }

        a {
          display: initial;
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}
