.form-input {
  border-radius: 2px;
  border: 1px solid #acadb0;
  border-radius: 6px;
  height: 50px;
  width: auto;
  font-size: medium;
  padding-left: 10px;
  margin-top: 10px;
}

.form-errors {
  color: rgb(210, 6, 6);
  opacity: 70%;
  font-size: small;
  margin: 0%;
  padding-top: 7px;
}

.labelled-input-wrapper {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
}
