.roomBody {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  padding: 40px 50px;
  gap: 300px;
  height: auto;
  font-size: 20px;
  .titleRoomBody {
    flex: 3;

    > p {
      line-height: 1.9;
    }
  }

  ul {
    padding-left: 19px;
    > li {
      margin-bottom: 15px;

      &::marker {
        color: rgb(164, 161, 158);
      }
    }
  }

  .detailsRoomBody {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    gap: 0px 60px;
  }
}
