@import "../../../../responsive.scss";

.roomBox {
  img {
    width: 380px;
    object-fit: cover;
    height: 500px;
    border-radius: 20px;
    &:hover {
      scale: 1.01;
      transition: all 0.3s ease;
    }
  }
  .roomBoxTitle {
    margin-bottom: 10px;
  }
  .roomBoxSubtitle {
    margin-top: 0;
    color: rgb(192, 120, 89);
  }

  @include sm {
    img {
      width: 150px;
      height: 200px;
    }
    .roomBoxTitle {
      font-size: 18px;
    }

    .roomBoxSubtitle {
      font-size: 14px;
    }
  }
}
