@import "../../../responsive.scss";

.roomsSection {
  @include sm {
    display: none;
  }

  .roomHeader {
    margin-top: 50px;
    padding-left: 50px;
    text-align: center;

    .roomsTitle {
      font-size: 50px;
    }

    .roomsSubtitle {
      font-size: 24px;
    }
  }
}
.roomCards {
  padding: 100px 30px 30px 30px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
